<div class="card-group" style="width: 800px;">
    <div class="card card-outline-success" style="width: 300px;">
        <div class="card-up elegant-color">
        </div>

        <div class="card-block" style="padding-top: 4px; padding-left: 4px; padding-right: 4px;">
            <div class="progress" style="float: left; width: 100%"  data-ng-show="anyVotes(topic)">
                <div class="progress-bar bg-success" role="progressbar" ng-style="{width : ( getPercentage(topic, 0) + '%' ) }"
                     aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{topic.countVotes[0]}}</div>
                <div class="progress-bar bg-danger" role="progressbar" ng-style="{width : ( getPercentage(topic, 1) + '%' ) }"
                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">{{topic.countVotes[1]}}</div>
                <div class="progress-bar bg-warning" role="progressbar" ng-style="{width : ( getPercentage(topic, 2) + '%' ) }"
                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{topic.countVotes[2]}}</div>
            </div>

            <div id="toggleArea" data-ng-click="toggle(topic)"
                style="margin-left: 11px; margin-top: 4px; margin-right: 4px;">

                <h4 class="card-title">{{topic.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{topic.userId}}</h6>
                <p class="card-text text-left">{{topic.description}}</p>


            </div>
            <div id="voteOptionsContainer"
                 style="float:left; margin: 4px 4px 10px 11px; width: 100%;">

                <div data-ng-repeat="option in topic.voteOptions"
                     style="float: left; margin-right: 10px;"
                     data-ng-click="setVote(option, topic.id, topic.userId)">
                     {{option.type}}
                </div>

            </div>


        </div>
        <div class="card-footer text-muted text-left" data-ng-show="topic.extended"
             style="background-color: white;margin-top: 20px;">
            comments ...
        </div>

    </div>

    <div class="card card-inverse card-success" style="width: 500px;">

        <div class="card-block">
            <p class="card-text text-left">{{topic.description}}</p>
        </div>

    </div>
</div>


       <!-- <div id="topicAreaBottom">


            <div id="commentsSection" class="commentsSection-{{topic.idInLiveStream}}" data-ng-hide="commentarrow.status">

                <div id="commentsActual">

                    <div class="comment">

                        <div
                                data-ng-repeat="c in topic.comments" comment='c.text'>
                        </div>


                    </div>

                </div>

                <div id="commentsBest">

                    <div class="comment">

                        <div
                                data-ng-repeat="c in topic.comments" comment='c.text'>
                        </div>



                    </div>

                </div>

                <div id="addCommentingArea">
                    <comment-arrow data-ng-click="toggleCommentAddSection(topic.idInLiveStream)" >
                    </comment-arrow>
                </div>

                <div id="commentingArea" class="commentingArea-{{topic.idInLiveStream}}">
                    <input id="inputComment" type="text" placeholder="write new comment here" data-ng-model="commentAdded" ></input>
                    <button id="buttonAddComment" class="buttonsRoleSelection" data-ng-click="addComment(commentAdded, topic)">
                        Comment
                    </button>
                </div>

            </div>

        </div>
-->
