<div ng-controller="publisherController">

	<div id="create-topic-container">
	
	    <input type="text" placeholder="description" ng-model="topic.description"/>
	    <input type="text" placeholder="name" ng-model="topic.name"/>
		{{topic.userId = loggedInUser.id}}
	 
	    <button type="button" class="btn btn-success" ng-click="saveTopic(topic)" >Save</button>
	
	</div>

	<div id="edit-existing-topics-container">
	
	    <!-- Here ui_topic_line -->
   		 <div id="liveStream-container">
        	<div data-ng-include="'overview/liveStreamPublisher'"></div>
   		 </div>

	
	
	</div>
</div>